@model Api_SistemaInventario.Models.Product
@{
    ViewData["Title"] = ViewBag.Accion;
}

<div class="text-center">
    <h1>@ViewBag.Accion</h1>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="AgregarProducto" asp-controller="Home" method="post">
            
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationType"></label>
                <input asp-for="PreparationType" class="form-control" required />
                <span asp-validation-for="PreparationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <input asp-for="Status" class="form-control" required />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InStock"></label>
                <input asp-for="InStock" class="form-control" type="number" value="0" min="0" required />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </form>
    </div>
</div>
